venv/
__pycache__/
*.pyc
*.sqlite3
.env
*.zip
*.dll
*.lib

venv/Lib/site-packages/torch/lib/torch_cpu.dll
venv/Lib/site-packages/torch/lib/dnnl.lib
# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
funzaenv/

# IDEs
.idea/
.vscode/

# Operating System
.DS_Store
Thumbs.db
